.container{ max-width: 1020px; }

body{ font-size: 16px; line-height: 28px;}

b, strong{ font-weight: 500; }

p{ margin-bottom: 20px; }

h1{ font-weight: bold;}
h2{ font-weight: 500;}

.georgia{ font-family: georgia;}
.italic{ font-size: 20px; line-height: 24px; font-style: italic; }

/* Ovverride default BS3 styles */
.navbar { min-height: 80px; margin-bottom: 0;}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

.sticky-transparent-header {transition: 500ms ease;}
.sticky-transparent-header.affix{
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Ovverride font styles */
.navbar-default {
  background-color: #1f2939;
  border: none;
  border-radius: 0;
}

/* Navbar brand */
.navbar-default .navbar-brand {color: #ffffff;}
/* Navbar brand */

/* Navbar links */
.navbar-default .navbar-nav > li > a {color: #6f7b8d; font-weight: 500; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
/* Navbar links */

/* Active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}
/* Active link */

/* Dropdown Menu */
.navbar .dropdown-menu{ background-color: #3b495e;}
.navbar .dropdown-menu>li>a{ color: #ffffff; padding-top: 10px; padding-bottom: 10px; line-height: 20px;}
.navbar .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  color: #ffffff;
  background-color: #0a1b35;
}
/* Highlight Parent Menu Item while Child Menu Item is active */
.navbar-nav>li.dropdown.current-menu-ancestor>a{ color: #ffffff; }
/* Highlight Parent Menu Item while Child Menu Item is active */

/* Active dropdown item */

.navbar .dropdown-menu>.active>a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus {
  color: #ffffff !important;
  background-color: #0a1b35;
}
/* Active dropdown item */

/* Dropdown Menu */

/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret{ display: none; }
/* Caret */

/* Navbar links */

/* Hamburger */
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    height: 4px;
}
/* Hamburger */

/* White header */
.white-bg{
  float					: right !important;
  margin-top		: 10px;
  margin-bottom	: 10px;
  margin-right	: 12px;
}

/*.white-bg span:first-of-type{ margin-left:15px; }*/
/* White header */

/* ARTICLES RESOURCES GRID */
.articles-resources .orbit-article{
  height: 360px;
  background-color: #ffffff;
}
.articles-resources .resource-wrapper{
  padding: 0 29px;
}
.articles-resources .resource-wrapper .orbit-thumbnail-bg{width: 160px;min-height: 160px;}
.resource-meta{ height: 156px;overflow:hidden; }
.articles-resources .title{
  color: #0A1B35;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.articles-resources .desc{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #3B495E;
}
.articles-resources .btn.btn-redirect:active{ box-shadow: none; }
.articles-resources .btn.btn-redirect:focus{ outline: none; }
.articles-resources .btn-redirect{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding: 0;
  letter-spacing: 0.014em;
  color: #00AEEF !important;
}
/* ARTICLES RESOURCES GRID */

/* ARCHIVE RESOURCE */
.archive .archive-resource-wrapper{ background-color:#f3f4f5; }
.archive-resource-wrapper .archive-content{ padding: 50px 15px; }
.archive .archive-resource-wrapper .bg-overlay-title {
  min-height: 200px;
  position: relative;
}
.archive .archive-resource-wrapper .bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7f7f7;
}
.archive .archive-resource-wrapper .bg-overlay-title h2 {
  color: #0a1b35;
  line-height: 1.4;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
  text-align: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%,-50%);
}
/* ARCHIVE RESOURCE */


/* PAGINATION */
.search-pagination .page-numbers.current,
.search-pagination a.page-numbers:hover {
  background: #1f2939;
  border: 1px solid #1f2939;
  color: #ffffff;
  text-decoration: none;
}
.search-pagination .page-numbers.prev{color: #1f2939;}
.search-pagination .page-numbers.next{color: #1f2939;}
.page-numbers.dots{color: #1f2939;}
/* PAGINATION */


/* FILTERS */
.filters{ padding-top: 50px; padding-bottom: 50px; }
.filters .roles{ margin-bottom: 16px;}
.filters .filter-by{
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #3b495e;
  margin-right: 20px;
}

.filters .filter-btn-wrapper{ padding: 0;}

.filters .filter-by,
.filters .filter-btn-wrapper,
.filters .filter-btn-wrapper li{
  display: inline-block;
}

.filters .filter-btn-wrapper li{ margin-right: 12px;}

.filters .filter-btn-wrapper li > a.btn{
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  padding: 4px 8px;
  text-align: center;
  color: #3b495e;
  background-color: #ffffff;
  border: 1px solid #e7e8eb;
  box-sizing: border-box;
  border-radius: 2px;
}
.filters .filter-btn-wrapper li > a.btn:focus{outline: none;}
.filters .filter-btn-wrapper li > a.btn:active,
.filters .filter-btn-wrapper li > a.btn.active{ box-shadow: none;}
.filters .filter-btn-wrapper li > a.btn.active
{
  color: #ffffff;
  background: #3b495e;
  border: 1px solid #3b495e;
}
.filters .filter-btn-wrapper li > a.btn.inactive{
  color: #3b495e;
  background-color: #ffffff;
  border: 1px solid #e7e8eb;
}

.filters .filter-error{
  display: none;
  position: relative;
  height: 200px;
}
.filters .filter-error h2{
  color: #3b495e;
  display: inline-block;
  margin: 0;
  position: absolute;
}
.nested-filters #archive-results{padding-top: 20px;}
/* FILTERS */

/* SOW BREADCRUMB NAVIGATION */
.breadcrumb-wrapper ul.breadcrumb{ padding: 10px 16px; border-radius: 0; }
.breadcrumb-wrapper ul.breadcrumb li{ display: inline-block; font-family: "Rubik", sans-serif; font-size: 14px; line-height: 24px; }
.breadcrumb-wrapper ul.breadcrumb li+li:before{ padding: 2px; content: "/\00a0"; }
.breadcrumb-wrapper ul.breadcrumb li a{ text-decoration: none; }
.breadcrumb-wrapper ul.breadcrumb li a:hover{ text-decoration: underline; }
/* SOW BREADCRUMB NAVIGATION */

@media(max-width:768px){
  /* SOW BREADCRUMB NAVIGATION */
  .breadcrumb-wrapper ul.breadcrumb{ padding-left: 0 !important;}
  /* SOW BREADCRUMB NAVIGATION */
}


@media (min-width: 769px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }

  /* Dropdown Menu */
  .navbar-right .dropdown-menu{ left: 15px; }
  .navbar .dropdown-menu{ top:75%; padding: 0;min-width: 200px;}
  /* Dropdown Menu */

  /* ARTICLES RESOURCES GRID */
  .articles-resources{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    display: grid;
  }
  /* ARTICLES RESOURCES GRID */

  /* FILTERS */
  .filters .filter-error h2{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%,-50%);
  }
  /* FILTERS */
}


@media(min-width: 768px){
  .filters .filter-btn-wrapper li > a.btn.inactive.active:hover,
  .filters .filter-btn-wrapper li > a.btn:hover{
    background: #e6f7fd;
    border: 1px solid #b3e7fb;
  }
  .filters .filter-btn-wrapper li > a.btn.active:hover{
    background: #3b495e;
    border: 1px solid #3b495e;
  }
}

@media(max-width: 991px){
  /* FILTERS */
  .filters .filter-by,
  .filters .filter-btn-wrapper li{ margin-bottom: 10px;}
  /* FILTERS */
}

@media only screen and (max-width: 768px) and (min-width: 768px){
  #bs-example-navbar-collapse-1,
  .navbar.header5 > .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-right{ margin-right: 0; }
  /* FILTERS */
  .filters .filter-error h2{
    top: 50% !important;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) !important;
  	-ms-transform: translate(-50%, -50%) !important;
  	transform: translate(-50%,-50%) !important;
  }
  /* FILTERS */
}

@media(max-width: 768px){
  /* Active link */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
      /* color: #ffffff; */
      background-color: #0a1b35;
  }
  /* Active link */
  /* Remove dropdown-menu bg-color for sm-devices */
  .navbar .dropdown-menu{ background-color: transparent;}
  /* Remove dropdown-menu bg-color for sm-devices */
  .navbar .dropdown-menu>li>a{ color: #6f7b8d;font-weight: bold !important; }
  .navbar-nav{ margin-top: 0; margin-bottom: 0;}
  /* White header */
  .white-bg{ margin-right: 0; text-align: center; float: none !important;}
  /* White header */
  /* ARTICLES RESOURCES GRID */
  .articles-resources .orbit-article{margin-bottom: 30px;}
  /* ARTICLES RESOURCES GRID */

  /* FILTERS */
  .filters .filter-error h2{
    top: 50%;
    -webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
  }
  /* FILTERS */
}

/* White header */
@media(max-width: 425px){
  .btn-blue, .white-bg span{font-size: 10px;}
}
@media(max-width: 375px){
  .btn-blue{ padding: 4px 4px;}
  /*.white-bg span:first-of-type{ margin-left:5px;}*/
}
/* White header */

@media (max-width: 320px) {
  .resource-meta {height: 148px;}
}

/* BLUE DOTS LIST ITEMS - HORIZONTAL LIST IN DESKTOP BUT VERTICAL IN MOBILE */
.blue-dots-list{
	font-size: 24px;
  line-height: 20px;
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  text-align: center;
}
.blue-dots-list li{
	display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}
.blue-dots-list li::after{
	content: "";
  background: #00AEEF;
  position: absolute;
	width: 8px;
	height: 8px;
  right: -7px;
  top: 5px;
  border-radius: 50%;
}
.blue-dots-list li:nth-child(3)::after{ display: none;}

@media (max-width:768px){
  .blue-dots-list {
  	text-align:left;
  	padding-left:6px;
    line-height: 28px;
 	}
  .blue-dots-list li{margin-top:10px;}
  .blue-dots-list li::after{
  	left: 0px;
    top: 5px;
  }
  .blue-dots-list li:nth-child(3)::after{ display: block;}
}
/* BLUE DOTS LIST ITEMS */

/* SIMPLE BLUE LIST */
ul.blue-list{
	font-size: 18px;
  line-height: 28px;
  list-style: none;
  color: #0A1B35;
}

ul.blue-list li{
	margin-bottom: 20px;
  position: relative;
}
ul.blue-list li::before {
  content: "";
  background: #00AEEF;
  width: 11px;
  height: 11px;
  position: absolute;
  left: -25px;
  top: 8px;
  border-radius: 50%;
}
/* SIMPLE BLUE LIST */

.blue-btn-fixed-bottom{
	position: absolute;
  bottom: -20px;
  font-weight: bold;
}

/* list-web-btns */
.list-web-btns{
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 0;
}
.list-web-btns .anchor-blue{
  color: #00aeef !important;
  border-radius: 0;
  font-weight: 500;
	box-sizing: border-box;
	vertical-align: middle;
	text-decoration: none;
}
.list-web-btns .btn-blue-outline{
	border: 1px solid #00aeef;
	color: #00aeef !important;
	border-radius: 2px;
	display: inline-block;
	padding: 4px 12px;
	font-weight: 500;
	text-decoration: none;
	box-sizing: border-box;
	vertical-align: middle;
	background: #fff;
}
.list-web-btns .btn-blue-outline:hover{
	background: #E6F7FD;
}

@media( max-width: 500px ){
	.list-web-btns{ font-size: 12px; }
	.list-web-btns .free-text{ display: none;}
	.list-web-btns .or-text{ padding-left: 0; padding-right: 0; }
}
@media( max-width: 300px ){
	.list-web-btns{ font-size: 11px; }
}

/* list-web-btns */

/* SOW CUSTOM ACCORDION */
.accordion-wrapper .panel-group .panel{ border-radius: 0; }
.accordion-wrapper .panel.panel-default{ margin: 20px 0; border: none; }
.accordion-wrapper .panel-default > .panel-heading {
  background-color: #FFFFFF;
  border: 1px solid #E7E8EB;
  box-sizing: border-box;
  padding: 0;
  border-radius: 0;
  height: 130px;
}
.accordion-wrapper .panel-default > .panel-heading > a{ text-decoration: none; outline: none; }
.accordion-wrapper .panel-body { padding: 0; }
.accordion-wrapper .wtf-accordion-item{ display: flex; flex-direction: row; align-items: flex-start; width: 100%; }
.accordion-wrapper .wtf-accordion-img img{ display: block; }
.accordion-wrapper .wtf-accordion-content{ margin: 0 24px; }
.accordion-wrapper .wtf-accordion-item h2{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #3B495E;
  margin: 26.5px 0 8px 0;
}
.accordion-wrapper .wtf-accordion-item p{ font-family: 'Rubik'; color: #3B495E; margin: 0; }
@media(max-width: 992px){
  .accordion-wrapper .wtf-accordion-img img{ width: 100%; }
  .accordion-wrapper .panel-default > .panel-heading{ height: auto; }
  .accordion-wrapper .wtf-accordion-item{ flex-direction: column; }
  .accordion-wrapper .wtf-accordion-content{ margin: 0 15px 15px; }
}
/* SOW CUSTOM ACCORDION */

/* SOW WTP USER POPUP */
.articles-users{ display: grid; grid-template-columns: repeat( 4, 1fr ); grid-gap: 20px 15px; }
.wtp-user-body .user-meta .name,
.wtp-user-body .user-meta .role,
.wtp-user-body .user-meta .location,
#wtp-user-modal .wtp-user-body .user-meta .bio,
#wtp-user-modal .wtp-user-body .user-meta .website{ font-family: 'Rubik'; font-style: normal; font-weight: normal; }
.articles-users .wtp-user-body{ height: 300px; background-color: #ffffff; padding: 0 43px 0 0; transition: box-shadow 0.3s ease-in-out; }
.articles-users .wtp-user-body:hover{ cursor: pointer; box-shadow: 0px 0px 34px rgba(59, 89, 152, 0.2); }
.articles-users .wtp-user-body .user-thumbnail-bg,
.modal .wtp-user-body .user-thumbnail-bg{ width: 100%; max-width: 180px; min-height: 180px; background-repeat:no-repeat; }
.wtp-user-body .user-meta { height: 120px; overflow: hidden; margin-left: 16px; }
.wtp-user-body .user-meta .name{ font-weight: 500; font-size: 16px; line-height: 24px; color: #000000; }
.wtp-user-body .user-meta .role, .wtp-user-body .user-meta .location{ display: block; font-size: 14px; line-height: 18px; color: #3B495E; }
a[data-behaviour~="wtp-user-popup"]{ text-decoration: none; }
/* USER MODAL */
#wtp-user-modal .modal-dialog{ width: 700px; height: 500px; top: 18%; }
#wtp-user-modal .modal-content{ border-radius: 4px; }
#wtp-user-modal .modal-header{ margin:40px 44px 0; padding:0; border:none; }
#wtp-user-modal  .modal-body{ padding: 0; }
#wtp-user-modal a.close{ color: #748093; font-size: 30px; font-weight: 400; opacity: 1; }
#wtp-user-modal a.close:focus{ outline: none; }
#wtp-user-modal .wtp-user-body{ margin:35px 44px 50px; }
#wtp-user-modal .wtp-user-body .user-meta{ height: auto; margin-left: 10px; }
#wtp-user-modal .wtp-user-body .user-meta .name{ font-size: 24px; margin: 0; }
#wtp-user-modal .wtp-user-body .user-meta .role, #wtp-user-modal .wtp-user-body .user-meta .location{ font-size: 16px; line-height: 24px; }
#wtp-user-modal .wtp-user-body .user-meta .separator{ width: 40px; margin: 20px 0; height: 4px; background-color: #00AEEF; }
#wtp-user-modal .wtp-user-body .user-meta .bio{ font-size: 16px; line-height: 18px; color: #3B495E; }
#wtp-user-modal .wtp-user-body .user-meta .website{ display: block; font-size: 16px; line-height: 18px; color: #00AEEF; margin-top: 20px; }
#wtp-user-modal .social-media{display: inline-block; width: 200px; margin-top: 15px; margin-bottom: 0; }
#wtp-user-modal .social-media li{ display: inline-block; }
#wtp-user-modal .social-media li span{display: inline-block; width: 25px; height: 25px; background-repeat: no-repeat; background-position: center; margin-right: 5px; }
/* USER MODAL */

@media(min-width: 768px){
  #wtp-user-modal .modal-content{ box-shadow: none; transition: box-shadow 0.3s ease-in-out; }
  #wtp-user-modal .modal-content:hover{ box-shadow: 0px 0px 34px rgba(59, 89, 152, 0.2) !important; }
  #wtp-user-modal .wtp-user-body{ display: grid; grid-template-columns: 200px 1fr; }
}

@media only screen and (max-width: 768px) and (min-width: 768px){
  #wtp-user-modal .modal-dialog{ width: 700px !important; height: 500px !important; top: 20% !important; }
  #wtp-user-modal .modal-header{ margin:20px 44px 30px !important; }
}
@media only screen and (max-width: 992px) and (min-width: 769px){ .articles-users{ grid-template-columns: repeat( 3, 1fr ); } }

@media(max-width: 768px){
  .articles-users{ grid-template-columns: repeat( 2, 1fr );  }
  #wtp-user-modal .modal-dialog { width: 95%; margin: 0 auto; top: 6%; }
  #wtp-user-modal .wtp-user-body .user-meta { margin-left: 0px; margin-top: 3%; }
  #wtp-user-modal .wtp-user-body { margin: 0px 15px 20px; }
  #wtp-user-modal .modal-header { margin: 20px 15px 10px; }
}
@media(max-width: 500px){ .articles-users{ grid-template-columns: repeat( 1, 1fr ); } }

/* SOW WTP USER POPUP */

/* ARTICLES BLOG  */
.articles-blog{ margin-bottom: 40px; }
.articles-blog .orbit-article{ margin-bottom: 20px; }
.articles-blog .post-content > h2,
.articles-blog .post-content > .post-meta,
.articles-blog .post-content > .desc,
.articles-blog .post-content > .post-terms > .term{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
}
.articles-blog .post-body{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #E7E8EB;
  box-sizing: border-box;
  margin: 0px 20px;
}
.articles-blog .post-img{
  position: relative;
  width: 100%;
  max-width: 240px;
  height: 160px;
  align-self: flex-start;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #eee;
}
.articles-blog .post-body .post-img a{ position: absolute; width: 100%; height: 100%; }
.articles-blog .post-content{ margin-left: 32px; }
.articles-blog .post-content > h2{ font-size: 22px; line-height: 28px; color: #3B495E; margin: 0; }
.articles-blog .post-content > .post-meta{ font-size: 12px; line-height: 24px; color: #748093; margin: 0px 4px; text-transform: capitalize; }
.articles-blog .post-content > .desc{ font-size: 14px; line-height: 20px; color: #3B495E; margin: 0px 4px; }
.articles-blog .post-content > .post-terms{ display: inline-block; margin: 6px 0px; padding: 0; }
.articles-blog .post-content > .post-terms > .term{
  display: inline-block;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #3B495E;
  padding: 4px 6px;
  background: #FFFFFF;
  border: 1px solid #E7E8EB;
  box-sizing: border-box;
  border-radius: 2px; margin: 8px;
}
@media(min-width:769px){
  .articles-blog .post-body{ transition: box-shadow 0.2s ease-in-out; }
  .articles-blog .post-body:hover{ box-shadow: 0px 0px 34px rgba(59, 89, 152, 0.2); }
}
@media( max-width: 700px ){
  .articles-blog .post-body{ flex-direction: column; }
  .articles-blog .post-content{ margin-left: 0; margin-top: 15px; }
  .articles-blog .post-img{ max-width: 100%; }
}
/* ARTICLES BLOG  */
