.container{ max-width: 1020px; }

body{ font-size: 16px; line-height: 28px;}

p{ margin-bottom: 20px; }

h1{ font-weight: bold;}
h2{ font-weight: 800;}

.georgia{ font-family: georgia;}
.italic{ font-size: 20px; line-height: 24px; font-style: italic; }

/* Ovverride default BS3 styles */
.navbar { min-height: 80px; margin-bottom: 0;}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

.sticky-transparent-header {transition: 500ms ease;}
.sticky-transparent-header.affix{
  top: 0;
  width: 100%;
  z-index: 999;
}

/* Ovverride font styles */
.navbar-default {
  background-color: #1f2939;
  border: none;
  border-radius: 0;
}

/* Navbar brand */
.navbar-default .navbar-brand {color: #ffffff;}
/* Navbar brand */

/* Navbar links */
.navbar-default .navbar-nav > li > a {color: #6f7b8d; font-weight: bold; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
/* Navbar links */

/* Active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}
/* Active link */

/* Dropdown Menu */
.navbar .dropdown-menu{ background-color: #3b495e;}
.navbar .dropdown-menu>li>a{ color: #ffffff; padding-top: 10px; padding-bottom: 10px; line-height: 20px;}
.navbar .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  color: #ffffff;
  background-color: #0a1b35;
}
/* Highlight Parent Menu Item while Child Menu Item is active */
.navbar-nav>li.dropdown.current-menu-ancestor>a{ color: #ffffff; }
/* Highlight Parent Menu Item while Child Menu Item is active */

/* Active dropdown item */

.navbar .dropdown-menu>.active>a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus {
  color: #ffffff !important;
  background-color: #0a1b35;
}
/* Active dropdown item */

/* Dropdown Menu */

/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret{ display: none; }
/* Caret */

/* Navbar links */

/* Hamburger */
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    height: 4px;
}
/* Hamburger */

/* White header */
.white-bg{
  float: right !important;
  margin-top:10px;
  margin-bottom:8px;
  margin-right:12px;
}
.btn-blue{
  padding: 4px 12px;
  color: #00aeef !important;
  border-radius: 0;
  font-weight: bold;
}
.btn-outline{ border: 1px solid #00aeef; margin-right: 15px; }
/*.white-bg span:first-of-type{ margin-left:15px; }*/
/* White header */

@media (min-width: 769px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }

  /* Dropdown Menu */
  .navbar-right .dropdown-menu{ left: 15px; }
  .navbar .dropdown-menu{ top:75%; padding: 0;min-width: 200px;}
  /* Dropdown Menu */

}
@media only screen and (max-width: 768px) and (min-width: 768px){
  #bs-example-navbar-collapse-1,
  .navbar.header5 > .container-fluid{
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-right{ margin-right: 0; }
}

@media(max-width: 768px){
  /* Active link */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
      /* color: #ffffff; */
      background-color: #0a1b35;
  }
  /* Active link */
  /* Remove dropdown-menu bg-color for sm-devices */
  .navbar .dropdown-menu{ background-color: transparent;}
  /* Remove dropdown-menu bg-color for sm-devices */
  .navbar .dropdown-menu>li>a{ color: #6f7b8d;font-weight: bold !important; }
  .navbar-nav{ margin-top: 0; margin-bottom: 0;}
  /* White header */
  .white-bg{ margin-right: 0; text-align: center; float: none !important;}
  /* White header */
}

/* White header */
@media(max-width: 425px){
  .btn-blue, .white-bg span{font-size: 10px;}
}
@media(max-width: 375px){
  .btn-blue{ padding: 4px 4px;}
  /*.white-bg span:first-of-type{ margin-left:5px;}*/
}
/* White header */



/* BLUE DOTS LIST ITEMS - HORIZONTAL LIST IN DESKTOP BUT VERTICAL IN MOBILE */
.blue-dots-list{
	font-size: 24px;
  line-height: 20px;
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  text-align: center;
}
.blue-dots-list li{
	display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}
.blue-dots-list li::after{
	content: "";
  background: #00AEEF;
  position: absolute;
	width: 8px;
	height: 8px;
  right: -7px;
  top: 5px;
  border-radius: 50%;
}
.blue-dots-list li:nth-child(3)::after{ display: none;}

@media (max-width:768px){
  .blue-dots-list {
  	text-align:left;
  	padding-left:6px;
    line-height: 28px;
 	}
  .blue-dots-list li{margin-top:10px;}
  .blue-dots-list li::after{
  	left: 0px;
    top: 5px;
  }
  .blue-dots-list li:nth-child(3)::after{ display: block;}
}
/* BLUE DOTS LIST ITEMS */

/* SIMPLE BLUE LIST */
ul.blue-list{
	font-size: 18px;
  line-height: 28px;
  list-style: none;
  color: #0A1B35;
}

ul.blue-list li{
	margin-bottom: 20px;
  position: relative;
}
ul.blue-list li::before {
  content: "";
  background: #00AEEF;
  width: 11px;
  height: 11px;
  position: absolute;
  left: -25px;
  top: 8px;
  border-radius: 50%;
}
/* SIMPLE BLUE LIST */

.blue-btn-fixed-bottom{
	position: absolute;
  bottom: -20px;
  font-weight: bold;
}
