/* Ovverride default BS3 styles */
.navbar { min-height: 80px;}

.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}

.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}

/* Ovverride font styles */

.navbar-default {
  background-color: #1f2939;
  border: none;
  border-radius: 0;
}

/* Navbar brand */
.navbar-default .navbar-brand {color: #ffffff;}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #8a0e0b;
}
/* Navbar brand */

/* Navbar links */
.navbar-default .navbar-nav > li > a {color: #6f7b8d; font-weight: bold; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
/* Navbar links */

/* Active link */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: transparent;
}
/* Active link */

/* Dropdown Menu */
.navbar .dropdown-menu{ background-color: #3b495e;}
.navbar .dropdown-menu>li>a{ color: #ffffff; padding-top: 10px; padding-bottom: 10px; line-height: 20px;}
.navbar .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  color: #ffffff;
  background-color: #0a1b35;
}
/* Highlight Parent Menu Item while Child Menu Item is active */
.navbar-nav>li.dropdown.current-menu-ancestor>a{ color: #ffffff; }
/* Highlight Parent Menu Item while Child Menu Item is active */

/* Active dropdown item */

.navbar .dropdown-menu>.active>a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus {
  color: #ffffff !important;
  background-color: #0a1b35;
}
/* Active dropdown item */

/* Dropdown Menu */

/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret{ display: none; }
/* .navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #8a0e0b;
    border-bottom-color: #8a0e0b;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #8a0e0b;
    border-bottom-color: #8a0e0b;
} */
/* Caret */

/* Navbar links */

/* Hamburger */
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
    height: 4px;
}
/* Hamburger */


@media (min-width: 769px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }

  /* Dropdown Menu */
  .navbar-right .dropdown-menu{ left: 15px; }
  .navbar .dropdown-menu{ top:75%; padding: 0;min-width: 200px;}
  /* Dropdown Menu */

  /* .navbar .dropdown-menu > li > a{ color: #8a0e0b;} */
}
@media only screen and (max-width: 768px) and (min-width: 768px){
  #bs-example-navbar-collapse-1{
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-right{ margin-right: 0; }
}

@media(max-width: 768px){
  /* Active link */
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
      /* color: #ffffff; */
      background-color: #0a1b35;
  }
  /* Active link */
  /* Remove dropdown-menu bg-color for sm-devices */
  .navbar .dropdown-menu{ background-color: transparent;}
  /* Remove dropdown-menu bg-color for sm-devices */
  .navbar-nav{ margin-top: 0; margin-bottom: 0;}
}
